.parts-details-container {
  padding: 20px;
}

/* カラーピッカー */
.color-picker {
  margin-bottom: 10px;
  margin-top: 30px;
}

.color-picker input {
  width: 100px;
  height: 40px;
  border: none;
  cursor: pointer;
}

/* テキストボックス */
.text-box {
  margin-bottom: 10px;
}

.text-box input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

/* プルダウンメニュー */
.dropdown {
  margin-bottom: 10px;
}

.dropdown select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-top: 30px;
}

/* 選択されたもののプレビュー表示 */
.selected-image-preview {
  background-color: white; /* 背景色を白 */
  border-radius: 8px; /* 角を丸く */
  overflow: hidden; /* 角丸を画像にも適用 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 軽い影 */
  width: 150px; /* 幅150px */
  height: 150px; /* 高さ150px */
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea{
  margin-top: 30px;
  width: 144px;
  height: 144px;
}

input[type="file"] {
  display: none; /* 実際のファイル選択ボタンを非表示にする */
}

.custom-file-upload {
  margin-top: 30px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.uploaded-image-preview {
  margin-top: 30px;
  width: 144px;
  height: 300px;
  object-fit: contain; /* 画像を要素の枠内に調整 */
  border: 1px solid #ccc; /* 任意: 枠線を追加 */
}

.icon-container,.pen-settings,.eraser-settings{
  margin-top: 30px;
}


